@font-face {
    font-family: Questrial;
    src: url('/font/Questrial-Regular.ttf');
}

* .label{
	-fx-font-family: "Questrial";
}

#rootLayout {
	-fx-background-color: linear-gradient(#ffffff, #ffffff);
}

#infoPanel {
	-fx-background-color: linear-gradient(#ffffff, #ffffff);
}

#infoPanel > #day {
	-fx-font-family: "Verdana-Bold";
}

#infoPanel > #due {
	-fx-font-family: "Verdana-Italic";
}

#taskDetails {
	-fx-font-size: 20;
	-fx-text-fill: #3cb371;
}

#taskListBox {
	-fx-background-color: linear-gradient(#ffffff, #ffffff);
	-fx-border-color: white ;
}

#taskListBox > .label {
	-fx-font-size: 24;
	-fx-padding: 15 0 0 0;
} 

#taskList {
	-fx-background-color: linear-gradient(#ffffff, #ffffff);
}

#commandBox {
	-fx-background-color: linear-gradient(#ffffff, #ffffff);
}

#helpBox {
	-fx-background-color: 
		linear-gradient(#ffd65b, #ffd65b),
		linear-gradient(#ffef84, #ffef84),
		linear-gradient(#ffea6a, #ffea6a),
		linear-gradient(#ffe657, #ffe657);
        
    -fx-border-radius: 20.0 20.0 20.0 20.0;
    -fx-background-radius: 20.0 20.0 20.0 20.0;
    -fx-padding: 50.0;
}

#helpEntry {
	-fx-font-size: 16.0;
	-fx-font-family: "Questrial";
}

#errorMsg {
	-fx-text-fill: #FA856E;
}

#successMsg {
	-fx-text-fill: #8fbc8f;
}

#predictionMsg {
	-fx-text-fill: #4682b4;
}

.title{
	-fx-background-color:
		linear-gradient(#C9C9C9, #C9C9C9),
        linear-gradient(#DBDBDB, #DBDBDB);
}

#taskCompleted .title .text { 
	-fx-strikethrough: true;
} 

#taskDueToday .title{
	-fx-background-color: 
        linear-gradient(#ffd65b, #ffd65b),
        linear-gradient(#ffef84, #ffef84),
        linear-gradient(#ffea6a, #ffea6a),
        linear-gradient(#ffe657, #ffe657);      
}

#taskDueTomorrow .title{
	-fx-background-color:
		linear-gradient(#6495ed, #6495ed),
		linear-gradient(#1e90ff, #1e90ff);
}

#taskToDo .title{
	-fx-background-color:
        linear-gradient(C2E7ED, C2E7ED),
        linear-gradient(#e4fbff, #e4fbff);
}

#taskOverdue .title{
	-fx-background-color: 
	    linear-gradient(ED7E68, ED7E68),
	    linear-gradient(#FA856E, #FA856E);
}